*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", cursive;
  line-height: 1.5;
}

.container {
  display: flex;
  height: 100vh;
}

/*LEFT-CONTAINER*/

.hero__img {
  margin-right: 20px;
}

.library {
  width: 50vw;
  height: 100vh;
}

/*RIGHT-HEADINGS*/

.hero__text {
  padding: 20px;
}

.hero__header {
  padding-right: 50px;
}

.hero__header h1 {
  font-size: 75px;
  font-weight: 700;
}

.hero__header p {
  font-size: 16px;
  color: #777;
  margin-top: 20px;
}

/* FORM SECTION */

.hero__form {
  padding: 0 20px;
}

.hero__form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero__form-container {
  display: flex;
  flex-wrap: wrap;
}

.hero__form-container div label {
  font-weight: 700;
}

.hero__form-container div:nth-child(-n + 2) {
  display: flex;
  flex-direction: column;
  flex: 0 1 45%;
  margin-right: 20px;
}

.hero__form-container div input {
  font-size: 16px;
  font-family: inherit;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px;
}
